target
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws

# Eclipse
.settings
.classpath
.project

# Vscode
.vscode

nb-configuration.xml
atlassian-ide-plugin.xml

logs

.DS_Store
.factorypath

# Do not share run config through git
.run